# Dataset và ảnh huấn luyện
data/
dataset_original/
*.jpg
*.png
*.rar

# Notebook và các file tạm
*.ipynb
*.log
*.csv
*.npy
*.npz

# File huấn luyện, không cần khi chỉ deploy
log/
file_train/
plot_training/


# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Hệ thống
.DS_Store
.env
.vscode/
.idea/
